@charset "ISO-8859-1";

.error {
	color: red;
	font-style: italic;
	margin-left: 245px;
}

.lan-select {
	text-align: right;
	padding: 5px;
}

.footer {
	 position: fixed;
	 left: 0;
	 bottom: 0;
	 width: 100%;
	 text-align: center;
	 margin-bottom: 5px;
}
