<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: head(title=#{label.add_new})">
</head>

<body>
	<div th:insert="nav :: nav"></div>
	<div class="container my-2">
		<h3 th:text=#{label.add_new} class="row justify-content-center align-items-center"></h3>
		<form action="#" th:action="@{/saveEmployee}" th:object="${employee}"
			method="post">
			<div class="form-group row" style="margin: 50px 100px 10px 100px">
				<label th:text=#{label.name} class="col-sm-3 col-form-label"></label>
				<div class="col-sm-7">
					<input type="text" th:field="*{name}" class="form-control">
				</div>
				<div class="error" th:if="${name_error}" th:text=#{label.name_error}></div>
			</div>
			<div class="form-group row" style="margin: 10px 100px">
				<label th:text=#{label.age} class="col-sm-3 col-form-label"></label>
				<div class="col-sm-7">
					<input type="number" th:field="*{age}" class="form-control">
				</div>
				<div class="error" th:if="${age_error}" th:text=#{label.age_error}></div>
			</div>
			<div class="form-group row" style="margin: 10px 100px">
				<label th:text=#{label.address} class="col-sm-3 col-form-label"></label>
				<div class="col-sm-7">
					<input type="text" th:field="*{address}" class="form-control">
				</div>
				<div class="error" th:if="${address_error}" th:text=#{label.address_error}></div>
			</div>
			<div class="form-group row" style="margin: 10px 100px">
				<label th:text=#{label.position} class="col-sm-3 col-form-label"></label>
				<div class="col-sm-7">
					<input type="text" th:field="*{role}" class="form-control">
				</div>
				<div class="error" th:if="${role_error}" th:text=#{label.position_error}></div>
			</div>

			<div class="row justify-content-center align-items-center">
				<button th:text=#{label.add} class="btn btn-primary" type="submit"></button>
				<a th:text=#{label.cancel} class="btn btn-danger ml-3" th:href="@{/}"></a>
			</div>

		</form>
	</div>
	<div th:insert="footer :: foot"></div>
</body>

</html>